//* Estilos para limitar el texto dentro de la card */
.card-text {
  max-height: 4em; /* Mostrar solo 2 líneas de texto */
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}

.card-text.expanded {
  max-height: none; /* Permitir expandir la altura */
}

.show-more {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

/* Estilos para las tarjetas */
.card {
  transition: transform 0.2s, box-shadow 0.2s; /* Añadir transición para efectos */
}

.card:hover {
  transform: translateY(-5px); /* Elevar la tarjeta ligeramente */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el mouse */
}

footer {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 123, 255, 0.8)); /* Gradiente de negro a azul */
  color: white; /* Cambiar el color del texto a blanco para mayor contraste */
}
