body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, rgba(158, 63, 85, 0.8), rgba(255, 255, 255, 0.6));
  }
    
  .card-text {
    max-height: 4em; 
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease;
  }
  
  .card-text.expanded {
    max-height: none; 
  }
  
  .show-more {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
  }
  
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  }
  
  footer {
    background: linear-gradient(to right, #000000, #000000);
    color: #f0f0f0;
  }
  
  #sheetSelector {
    border: none;
    box-shadow: none; 
    outline: none;
    border-radius: 10px;
    
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    transition: opacity 0.3s ease-out;
  }
  
  h1 {
  animation: fadeIn 1.5s ease;
  }
  
  @keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
  }
  
  
  .dropdown-item label {
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  }
  
  .dropdown-item label:hover {
  background-color: #f8f9fa;
  }